body {
  padding: 20px;
}

.spacing-10 {
    padding: 10px;
    gap: 10px;
}

.spacing-15 {
    padding: 15px;
    gap: 15px;
}

.spacing-12 {
    padding: 12px;
    gap: 12px;
}

.wrap {
  flex-wrap: wrap;
}

.border-2px {
  border: 2px solid black;
}

.flex-container {
  display: flex;
  background-color: #8775ec;
  flex-wrap: wrap;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-item {
  background-color: #7dde62;
  height: 50px;
  flex: 1;
}

.grow-2 {
  flex-grow: 2;
}